<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
<h1 th:text="${titulo}"></h1>

</head>
<body>

<ul>
<li>
<a th:href="@{/variables/string/} + 'envio ruta'">/variables/string/envio ruta</a>
</li>

<li>
<a th:href="@{/variables/string/} + 'que mela'">/variables/string/que mela</a>
</li>

<li>
<a th:href="@{/variables/string/} + 'dos parametros' + '/' + 7">/variables/string/dos parametros/7</a>
</li>


</ul>

</body>
</html>