<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<h1 th:text="${titulo}"></h1>
</head>
<body>

<div th:text="${resultado}">
</div>

</body>
</html>