<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<span th:text="${usuario.nombre}"></span>
<br>
<span th:text="${usuario.apellido}"></span>
<br>
<span th:if="${usuario.email}" th:text="${usuario.email}"></span> 
<br>
<span th:if="${usuario.email} == null" th:text="'no existe email para el usuario'"></span>

</body>
</html>