<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
<h1 th:text="${titulo}"></h1>

</head>
<body>

<ul>
<li>
<a th:href="@{/params/string(texto='enviado parametro')}">/params/string?texto=enviando parametro</a>
</li>
<li>
<a th:href="@{/params/string(texto='otro texto')}">/params/string?texto=otro texto</a>
</li>

<li>
<a th:href="@{/params/mix-params(saludo='tengo sueño', numero=34)}">/params/mix-params?texto=tengo sueño&numero=34</a>
</li>

<li>
<a th:href="@{/params/mix-params-request(saludo='tengo sed', numero=11)}">/params/mix-params?texto=tengo sed&numero=11</a>
</li>


</ul>

</body>
</html>